<div class="vertical-box w-100">
    <div class="space-between w-100" style="gap: 8px;">
        <div>
            <div class="bold small-font-size no-wrap">
                {{companyName}}
            </div>
            <div class="small-font-size no-wrap" style="margin-top: 4px;">
                {{companySlogan}}
            </div>
        </div>

        <div>
            <div class="small-font-size no-wrap">
                <span>
                    {{fontawesome-icon icon="phone"}}
                </span>
                {{companyPhoneNumber1}}
            </div>
            <div class="small-font-size no-wrap" style="margin-top: 4px;">
                <span>
                    {{fontawesome-icon icon="phone"}}
                </span>
                {{companyPhoneNumber2}}
            </div>
        </div>

        <div>
            <img width="auto" height="30px" src="{{companyLogo}}" alt="Logo">
        </div>

        <div class="small-font-size" style="line-height: 14px;">
            <span>
                {{fontawesome-icon icon="map-marker-alt"}}
            </span>
            {{companyAddress}}
        </div>

        <div>
            <div class="small-font-size no-wrap" >
                <span>
                    {{fontawesome-icon icon="globe"}}
                </span>
                {{companyWebSite}}
            </div>
            <div class="small-font-size no-wrap" style="margin-top: 4px;">
                <span>
                    {{fontawesome-icon icon="envelope-square"}}
                </span>
                {{companyEmail}}
            </div>
        </div>

    </div>
    <hr class="w-100">
</div>